<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidarUsuario</servlet-name>
        <servlet-class>Servlet.ValidarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarUsuarios</servlet-name>
        <servlet-class>Servlet.MostrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarUsuarios</servlet-name>
        <servlet-class>Servlet.BorrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarSalas</servlet-name>
        <servlet-class>Servlet.MostrarSalas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarSalas</servlet-name>
        <servlet-class>Servlet.BorrarSalas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarSala</servlet-name>
        <servlet-class>Servlet.ValidarSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cartas</servlet-name>
        <servlet-class>Servlet.Cartas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prueba</servlet-name>
        <servlet-class>Servlet.Prueba</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarUsuario</servlet-name>
        <url-pattern>/ValidarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarUsuarios</servlet-name>
        <url-pattern>/MostrarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarUsuarios</servlet-name>
        <url-pattern>/BorrarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarSalas</servlet-name>
        <url-pattern>/MostrarSalas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarSalas</servlet-name>
        <url-pattern>/BorrarSalas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarSala</servlet-name>
        <url-pattern>/ValidarSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cartas</servlet-name>
        <url-pattern>/Cartas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prueba</servlet-name>
        <url-pattern>/Prueba</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
    </jsp-config>
</web-app>
